.c-overlay {
  background-color: $color-1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  z-index: 999;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 0;
  overflow: hidden;
  .overlay-container {
    max-width: 1166px;
    padding: 30px 15px;
    margin: 0 auto;

    @media screen and (max-width: 991px) {
      max-height: calc(100vh - 200px);
      overflow: auto;
    }
  }

  .logo-section {
    display: flex;
    align-items: center;
    .logo-image {
      background-color: #fff;
      height: 100px;
      width: 100px;
      max-width: 100px;
      flex: 0 0 100px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      padding: 10px;
      img {
        height: 80px;
        width: 100%;
        object-fit: contain;
      }
      @media screen and (max-width: 991px) {
        max-width: 80px;
        width: 100%;
        height: 80px;
        flex: 0 0 80px;
      }
      @media screen and (max-width: 767px) {
        max-width: 60px;
        width: 100%;
        height: 60px;
        flex: 0 0 60px;
      }
    }

    .logo-text {
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 15px;
      max-width: 400px;
      @media screen and (max-width: 991px) {
        font-size: 24px;
      }
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  .image-block {
    padding: 25px 25px 10px;
    max-width: 700px;
    img {
      border: 4px solid #fff;
      max-height: 300px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .description-block {
    padding: 15px 25px;
    max-width: 700px;
    line-height: 1.4;
  }

  .cta-button {
    padding: 10px 25px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45px;
      width: 200px;
      background: #fff;
      color: #000;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .overlay-close {
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
    max-width: 40px;
    transform: scale(1);
    transition: all 0.4s;
    &:hover {
      transform: scale(0.8);
    }
  }
  @media screen and (max-width: 991px) {
    display: block;
    padding: 80px 0 150px;
  }
}
