.floating-image{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    .image-1{
        position: absolute;
        top:15px;
        left:15px;
        transform:translateX(-100%);
    }
    .image-2{
        position: absolute;
        bottom:0;
        right:0;
    }
}