.c-logo {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;

  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  border-radius: 100px;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    content: "";
    display: block;
    min-height: 400px;
    min-width: 400px;
  }

  .logo {
    background-color: #fff;
    height: 125px;
    width: 125px;
    border-radius: 100px;
    padding: 15px;
    box-shadow: 3px 4px 11px 0px rgba(#101010, 90%);
    border: 4px solid rgb(240, 240, 240);
    position: relative;
    z-index: 10;
    img {
      width: 100%;
    }
  }

  .block-1,
  .block-2,
  .block-3,
  .block-4 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    left: 50%;
    z-index: 2;
    border: 1px solid #fff;
    box-shadow: 0 10px 10px rgba(#000, 0.2);
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;

    transition: all 0.5s;
  }

  .block-1 {
    border-top-right-radius: 110px;

    margin-top: -50px;
    margin-left: 50px;
  }
  .block-2 {
    border-bottom-right-radius: 110px;

    margin-top: 50px;
    margin-left: 50px;
  }
  .block-3 {
    border-bottom-left-radius: 110px;

    margin-top: 50px;
    margin-left: -50px;
  }
  .block-4 {
    border-top-left-radius: 150px;
    margin-top: -50px;
    margin-left: -50px;
  }
  &:hover {
    .block-1 {
      margin-top: -55px;
      margin-left: 55px;
    }
    .block-2 {
      margin-top: 55px;
      margin-left: 55px;
    }
    .block-3 {
      margin-top: 55px;
      margin-left: -55px;
    }
    .block-4 {
      margin-top: -55px;
      margin-left: -55px;
    }
  }
  .block-text-1,
  .block-text-2,
  .block-text-3,
  .block-text-4 {
    background-color: #fff;
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 10px 10px 10px rgba(#000, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    margin: 0 auto;
    opacity: 0;

    transition: all 0.3s ease-in-out;

    a {
      position: relative;
      padding: 10px 25px;
      border: 1px solid #dedede;
      height: 100px;
      font-weight: 700;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .image {
      // max-width: 100px;
      // display: block;
      // position: absolute;
      // top: -55px;
      // left: 20px;
      // height: 60px;
      // width: 60px;
      // background-color: #fff;
      // border: 2px solid #000;
      // border-radius: 100px;
      // overflow: hidden;
      // padding: 10px;
      // img {
      //   width: 100%;
      //   height: 60px;
      // }
    }
    &:hover {
      // border-color: $color-2;
      // background-color: $color-1;
      color: #fff;
      box-shadow: 10px 10px 10px rgba($color-2, 0.2);
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  .block-text-1 {
    top: -50%;
    left: 90%;
    right: auto;
    transform: scale(0.4) translate(-100%, 100%);
    a {
      align-items: center;
    }
  }
  .block-text-2 {
    top: 55%;
    left: 90%;
    right: auto;
    transform: scale(0.4) translate(-100%, -100%);
    a {
      align-items: center;
    }
  }
  .block-text-3 {
    top: 55%;
    right: 90%;
    left: auto;
    transform: scale(0.4) translate(100%, -100%);
    a {
      align-items: center;
    }
  }
  .block-text-4 {
    top: -50%;
    right: 90%;
    left: auto;
    transform: scale(0.4) translate(100%, 100%);
    a {
      align-items: center;
    }
  }

  &:hover {
    .block-text-1,
    .block-text-2,
    .block-text-3,
    .block-text-4 {
      opacity: 1;
      transform: scale(1);
    }
  }
}
