@-ms-keyframes pulse {
  from {
    -ms-transform: scale(0.8);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  from {
    -moz-transform: scale(0.8);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}
